/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

/* Farver: genbruges og gør designvalg enkle */
:root {
  --white: #ffffff;
  --black: #000000;
  --orange: #FEA808;
  --red: #F15A24;
  --grey: #D6D6D6;
}

/* Fonte - størrelse og design*/
body {
  font-family: montserrat, sans-serif;
}

h1 {
  font-family: montserrat, sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-top: 20%;
}

h2 {
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left:5%;
}

.menupunkter {
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20%;
  margin-left:5%;
  width: 20ch;
  color: var(--black);
}
p {
  font-family: montserrat,sans-serif;
  font-size: 20px;
  font-weight: 200;
}


/* Generelle indstillinger for sitet - holder på design */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'montserrat';
}

/* HEADER START */
  /*Logo */
  #headlogo{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -11%
  }
  
  /* Kurv og find op os ikon */
  .headimages{
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
  }
  
  #basket{
    width: 5.9%;
    display: block;
    margin-left: 2%
  }
  
  #findus{
    width: 5%;
    height: 4%;
    display: block;
  }
  
  /* Navbar */
  .nav{
    margin-top: -22%;
    text-align:left;
    line-height:70px;
  }
  
  /* Selve dropdown punkterne */
  .menu a{
    text-decoration: none;
    color: #000000;
    line-height: 70px;
  }
  
  /* Book tid knap */
  span{
    background-color: #f15a24;
  }
  
  /* Selve burgeren */
  label{
    color: #e06437;
    font-size: 60px;
    line-height: 70px;
    display: none;
    width: 10%
    }
  
  /* Checkboks - klik på burger for at vise dropdown items */
  #toggle{
    display: none;
  }
  
  /* Burgerens punkter, find os, sæson osv. */
  .submenu { display: none;
    font-size: 12px;
  }
  .menuitem>li:hover>.submenu { display: block;list-style-type: none;}
  
  .menuitem{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 10%;
    font-size: 16px;
  }
  
  
  /* Media rules for Iphone og stående ipad */
  @media only screen and (max-width: 769px) {
    
    label{
      display: block;
      cursor: pointer;
    }
  
    span{
      display: none;
    }
  
    .menu{
      text-align: center;
      width: 100%;
      display: none;
    }
  
    .menu a{
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
    }
  
    .menuitem{
      flex-direction: column;
    }
  
    #toggle:checked + .menu{
      display: block;
    }

    .orangeformcom {
      display: none;
    }

    .hvidformcom {
      display: none;
    }

    .orangeform2com {
      display: none;
    }

    .cykelhjulcom {
      display: none;
    }

    .prisercom {
      display: none;
    }

    .udregnecom {
      display: none;
    }

    .containercom {
      display: none;
    }
  }
  
  /* Media rules for liggende ipad og web */
  @media only screen and (min-width: 770px) {
    .menuitem{
      display: flex;
      justify-content: left;
      margin-left: 15%;
      gap: 10%;
      list-style-type: none;
      margin-top: 1%;
      font-size: 16px;
    }

  /* Nav bar */
    #findus{
      display: none;
    }

  /* Indhold fra telefon fjernet*/
  .cykelhjul{
    display: none;
  }

  .hvid {
    display: none;
  }

  .container {
    display: none;
  }

  .penge {
    display: none;
  }

  .orangeform {
    display: none;
  }

  .tekst1 {
    display: none;
  }

  .tekst2 {
    display: none;
  }
  
  .priser {
    display: none;
  }

  .pr {
    display: none;
  }
  
.booktid {
  display: none;
}

.booktidknap {
  display: none;
}

/* Indhold START Computer */
  .formecom {
    width: 100%;
    height: auto;
  }

  .orangeform {
    position: absolute;
    width: 80%;
    right: 0;
    z-index: -10;
  }

  .hvidformcom {
    position: relative;
    width: 80%;
    right: 0;
    z-index: 1;
    margin-top: -45%;
    margin-left: 10%;
  } 

  .orangeform2com {
    position: absolute;
    width: 32%;
    right: 0;
    z-index: -10;
    margin-top: -50%;
  }

  .cykelhjulcom {
    position: absolute;
    right: 0;
    height: auto;
    z-index: -8;
    margin-top: -44%;
  }

  .prisercom {
    display: flex;
    position: relative;
  }

  .pristekst {
    position: relative;
    width: 50%;
    right: 50;
    padding-left: 10%;
    z-index: 1;
    margin-top: -45%;
  }
  .priser1com {
    position: absolute;
    width: 50%;
    right: 50;
    padding-left: 15%;
    height: auto;
    z-index: 2;
    margin-top: -40%;
    columns: 2;
  }

  .menupunktercom {
    display: flex;
  }

  .tekst2com {
    position: absolute;
    width: 80%;
    right: 50;
    padding-left: 55%;
    height: auto;
    z-index: 3;
    margin-top: -45%;
    width: 100ch;
  }

  .containercom {
    position: absolute;
    width: 80%;
    padding-left: 60%;
    height: auto;
    z-index: 2;
    margin-top: -40%;
  }

  .clearfix {
    float: left;
    width: 100%;
  }

  /* Footer */
    }


/* INDHOLD START telefon */
.pris {
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.priser {
  column-count: 2;
  grid-row-start: auto;
  padding: 10%;
  width: 100%;
}

.pr {
  float: right;
  margin-bottom: 20%;
}

.section {
  display: flex;
}

.article {
  padding: 0 2em;
}

.cykelhjul {
  position: absolute;
  width: 40%;
}

.tekst1 {
  padding: 5%;
}
.tekst2 {
  padding: 5%;
  margin-top: 60%;
}

.orangeform {
  position: absolute;
  width: 80%;
  right: 0;
  padding-top: -90%;
  z-index: -10;
}

.penge {
  position: absolute;
  width: 50%;
  right: 0;
  height: auto;
  z-index: -8;
  margin-top: 180%;
}

.udregne{
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.hvid {
  width: 100%;
  height: 30%;
}

.hvidform {
  position: absolute;
  width: 90%;
  right: 0;
  height: auto;
  z-index: -10;
  margin-top: -120%;
}

.menupunkter {
  padding: 5%;
}

.booktidknap {
  position: fixed;
  background: #F15A24;
  width: 90%;
  height: 45px;
  line-height: 45px;
  bottom: 10%;
  right: 3%;
  text-align: center;
  box-shadow: 4px 4px 4px var(--grey);
  cursor: pointer;
  border-radius: 50px;
  z-index: 10;
}

.booktidknap2 {
  text-decoration: none;
  list-style: none;
  color: var(--black);
}
.booktidknap {
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-weight: 900;
  color: var(--black);
}

.booktidknap:active {
box-shadow: 0 0;
}

/* Knapper til reparation*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  border-radius: 50px;
  border: 20px;
  border: 1px solid #FEA808;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Indstillinger for udregn knap */
button {
  background-color: #FEA808;
  color: var(--black);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
  border-radius: 50px;
}

/* Float af udregn knap and add an equal width */
.udregn {
  float: right;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 10%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/* FOOTER START */
.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

footer{
  position: absolute;
  margin-top: auto;
  background-color: #FEA808;
  margin-top: auto;
  width: 100%;
}

footer::before{
    background: url("images/sidstegang.svg") center bottom no-repeat;
    bottom: 100%;
    content: '';
    height: 103px;
    position: absolute;
    width: 100%;
}

.rowsome{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.fb{
    width: 90px;
    margin-right: 10px;
}

.ig{
    width: 80px;
    margin-left: 10px;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ur{
    width: 40px;
    margin: auto;
    padding-top: 30px;
}

.row1{
    margin: auto;
    text-align: center;
}

.lokation{
    width: 40px;
    padding-top: 30px;
}

.loka{
    margin: auto;
}

.phone{
    width: 40px;
    padding-top: 30px;
}

.pho{
    margin: auto;
}

.mp{
    width: 40px;
    padding-top: 30px;
}

.mobilepay{
    margin: auto;
}

.row2{
    text-align: center;
    margin: auto;
}

.row3{
    text-align: center;
    margin: auto;
}

.row4{
    text-align: center;
    margin: auto;
}

.pp{
    width: 100%;
    height: 500px;
}

